# AWS SDK
boto3>=1.26.0
awscli>=1.27.0

# Data Processing
pandas>=1.5.0
numpy>=1.21.0
scikit-learn>=1.0.0

# ETL & Validation
apache-airflow>=2.5.0
great-expectations>=0.15.0
pyspark>=3.3.0

# ML & Deep Learning
tensorflow>=2.10.0
torch>=1.13.0
sagemaker>=2.150.0

# Monitoring
prometheus-client>=0.16.0
##grafana-api-client>=1.0.3 nt needed for now

# Utilities
python-dotenv>=0.21.0
requests>=2.28.0
docker>=6.0.0
jupyter>=1.0.0

# Testing
pytest>=7.3.0
pytest-cov>=4.0.0 